// Font
.u-fz-50
  font-size: var(--space-50)

.u-text-lg
  font-size: var(--space-30)

.u-text-sm
  font-size: var(--space-20)

.u-font-ch
  font-family: var(--font-noto)

.u-font-en
  font-family: var(--font-en)

.u-fw-800
  font-weight: 800