:root
  --color-primary: #E6E8E6
  --color-secondary: #1B1F3B
  --color-third: #FB3640
  --color-third80: rgba(251,54,64,0.8)
  --color-darkgray: #D9D9D9
  // 顏色
  // 4D9DE0
  // 3BB273
  // 218380
  // 50858B
  // B191FF
  // 944BBB
  // A37C40
  // F49F0A
  // 7785AC
  // 006E90
  // 628395
  // 548687
  // 76B041

  --font-noto: 'Noto Sans TC', sans-serif
  --font-en: 'Bricolage Grotesque', sans-serif

  --space-80: 8rem
  --space-60: 6rem
  --space-50: 5rem
  --space-40: 4rem
  --space-30: 3rem
  --space-20: 2rem
  --space-10: 1rem
  --space-5: 0.5rem
  +media(sm)
    --space-80: 8vw
    --space-60: 6vw
    --space-50: 5vw
    --space-40: 4vw
    --space-30: 3vw
    --space-20: 2vw
    --space-10: 1vw
    --space-5: 0.5vw