.c-footer
  width: 90%
  height: 10rem
  background-color: var(--color-primary)
  border-top: 1px solid var(--color-secondary)
  display: flex
  align-items: center
  margin: 0 auto
  &__wrap
    display: flex
    justify-content: flex-start
    margin-left: var(--space-80)
    +media(md)
      margin: 0 auto
  &__content
    display: flex
    align-items: flex-end
    &:not(:first-of-type)
      margin-left: calc(var(--space-80) * 1.5 )
    +media(md)
      &:not(:first-of-type)
        margin-left: calc(var(--space-40) * 1.5 )
  &__link
    display: flex
    align-items: flex-end
  &__item
    &:first-child
      margin-right: var(--space-20)
    