.c-navbar
  width: 100%
  height: 100px
  background-color: var(--color-secondary)
  display: flex
  justify-content: flex-start
  align-items: center
  &__wrap
    display: flex
    margin: 0 var(--space-80)
    .c-list
      padding: 0 var(--space-40)  
      a
        color: var(--color-primary)
        font-size: var(--space-20)
        transition: color 0.5s
      &:hover
        a
          color: var(--color-third)