.l-about
  // display: flex
  &__profile
    +media(sm)
      display: none
  &__introduce
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-around
    padding: 0 5rem
  &__content
    font-size: 2rem
    +media(xl)
      font-size: 1.6rem