.l-about
  &__wrap
    display: flex
  &__profile
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 10vw 10vw
    // border-right: 1px solid var(--color-secondary)
  &__img-mask
    img
      max-width: 300px
  &__content
    text-align: center
    text-decoration: underline
  &__title
    font-size: var(--space-40)
    padding: var(--space-10) 0
  &__text
    font-size: var(--space-20)
    padding: var(--space-10) 0
  &__introduce
    padding: 10vw 0
    color: var(--color-secondary)
