.l-index
  &__proflie
    display: flex
    justify-content: center
    align-items: flex-start
    padding: 250px
  &__img-mask
    img
      max-width: 500px
  &__content
    text-decoration: underline
    display: flex
    flex-direction: column
    justify-content: flex-start
    padding: 0 var(--space-20)
  &__title
    font-size: var(--space-60)
    padding: var(--space-10) 0
  &__text
    font-size: var(--space-30)
    padding: var(--space-10) 0

