doctype html
html(lang="en")
  head
    //- meta統一集中管理
    include ./mixin/_meta.pug
    +MetaManger

    //- CSS 
    link(rel="stylesheet", href="./css/style.css")

    title CJIE | 關於我
  body
    include ./mixin/component/_navbar.pug
    include ./mixin/component/_footer.pug  
    .l-about 
      +Header
      .l-about__wrap
        .l-about__profile
          .l-about__img-mask 
            img(src="./img/selfie.jpeg", alt="自拍照")
          .l-about__content 
            h2.l-about__title.u-font-ch 廖宸嘉
            p.l-about__text.u-font-ch 也可以叫我CJ
            p.l-about__text.u-font-ch 朝陽科技大學資管系畢業
            p.l-about__text.u-font-ch 正在往前端工程師前進
        .l-about__introduce
          p.l-about__text 目前還沒想到要打什麼~~
          p.l-about__text 往後在更新。
      -
        const Portfolio = {
          name: 'CJ',
          email: 'will891108@gmail.com'
        }
      +Footer(Portfolio)
      .c-marquee
        .c-marquee__content
          marquee.u-font-ch.u-text-lg(scrollamount="10") 「你會記得你吃過多少片麵包嗎」-- 迪奧·布蘭度
          //- 之後再來更新跑馬燈

    //- 引入icon
    script(src="https://kit.fontawesome.com/c85166bbba.js" crossorigin="anonymous")