doctype html
html(lang="en")
  head
    //- meta統一集中管理
    include ./mixin/_meta.pug
    +MetaManger

    //- CSS 
    link(rel="stylesheet", href="./css/style.css")

    title CJIE | 關於我
  body
    include ./mixin/component/_navbar.pug
    include ./mixin/component/_footer.pug
    include ./mixin/component/_profile.pug
    +Header
    main.l-about
      .container-fluid.l-about__container
        .row.l-about__row
          .col-4.l-about__profile
            +Profile
          .col-8
            section.l-about__introduce
              .l-about__wrap
                .l-about__content.--left
                  .l-about__text.--left 我是一位擁有大學學位的畢業生，對前端工程師的職業充滿熱情，並已積極學習和掌握了多項關鍵技能，以迎接這個激動人心的挑戰。
              .l-about__wrap
                .l-about__content.--right
                  .l-about__text.--right 我精通RWD（響應式網頁設計），這使我能夠設計和開發適應不同設備和螢幕尺寸的網站，提供更好的使用體驗。
              .l-about__wrap
                .l-about__content.--left
                  .l-about__text.--left 我是一位擁有大學學位的畢業生，對前端工程師的職業充滿熱情，並已積極學習和掌握了多項關鍵技能，以迎接這個激動人心的挑戰。
              .l-about__wrap
                .l-about__content.--right
                  .l-about__text.--right 我精通RWD（響應式網頁設計），這使我能夠設計和開發適應不同設備和螢幕尺寸的網站，提供更好的使用體驗。
              .l-about__wrap
                .l-about__content.--left
                  .l-about__text.--left 我是一位擁有大學學位的畢業生，對前端工程師的職業充滿熱情，並已積極學習和掌握了多項關鍵技能，以迎接這個激動人心的挑戰。
              .l-about__wrap
                .l-about__content.--right
                  .l-about__text.--right 我精通RWD（響應式網頁設計），這使我能夠設計和開發適應不同設備和螢幕尺寸的網站，提供更好的使用體驗。
      +Footer
      .c-marquee
        .c-marquee__content
          .c-marquee__text.u-font-ch.u-text-lg 「你會記得你吃過多少片麵包嗎」-- 迪奧·布蘭度


    //- 引入icon
    script(src="https://kit.fontawesome.com/c85166bbba.js" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous")
    script(src="js/marquee.js")