doctype html
html(lang="en")
  head
    //- meta 集中管理
    include ./mixin/_meta.pug
    +MetaManger

    //- CSS 
    link(rel="stylesheet", href="./css/style.css") 

    title CJIE | 作品集
  body
    include ./mixin/component/_navbar.pug
    include ./mixin/component/_footer.pug 
    include ./mixin/component/_profile.pug
    +Header
    main.l-about
      .container-fluid
        .row
          .col-4
            +Profile
          .col-8
      +Footer
      .c-marquee
        .c-marquee__content
          .c-marquee__text.u-font-ch.u-text-lg 「你會記得你吃過多少片麵包嗎」-- 迪奧·布蘭度

    //- 引入icon
    script(src="https://kit.fontawesome.com/c85166bbba.js" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous")
    script(src="js/marquee.js")
    script(src="js/main.js")