mixin Footer(item)
  .c-footer
    .c-footer__wrap
      .c-footer__content
        a.c-footer__link(href="https://www.instagram.com/cj1108_/" target="_blank") 
          i.c-footer__item.fa-brands.fa-instagram.u-title-xl
          p.c-footer__item.u-text-lg.u-font-en CJ
      .c-footer__content 
        p.c-footer__item.u-text-xxl.u-font-en.u-fw-800 Email 
        p.c-footer__item.u-text-lg.u-font-en will891108@gmail.com
      .c-footer__content 
        a.c-footer__link(href="https://codepen.io/CJIE_L" target="_blank") 
          i.c-footer__item.fa-brands.fa-codepen.u-title-xl
    .c-footer__wrap
      .c-footer__content
        a.c-footer__link(href="https://github.com/Liao-chen-jia" target="_blank")
          i.fa-brands.fa-github.u-title-xl
      .c-footer__content.u-ml-80
        i.c-footer__item.fa-brands.fa-discord.u-title-xl
        p.c-footer__item.u-text-lg.u-font-en cjie_l