mixin Header
  header.c-navbar
    ul.c-navbar__wrap
      li.c-navbar__list
        a.c-navbar__link.u-font-ch(href="index.html") 首頁 
      li.c-navbar__list
        a.c-navbar__link.u-font-ch(href="about.html") 關於我
      li.c-navbar__list
        a.c-navbar__link.u-font-ch(href="portfolio.html") 作品集