mixin Profile
  section.c-profile 
    .c-profile__profile
      .c-profile__img-mask 
        img.c-profile__img(src="./img/selfie.jpeg", alt="自拍照")
      .c-profile__content 
        h1.c-profile__title.u-font-ch 廖宸嘉
        p.c-profile__text.u-font-ch 也可以叫我CJ
        p.c-profile__text.u-font-ch 朝陽科技大學資管系畢業
        p.c-profile__text.u-font-ch 正在往前端工程師前進
      .c-profile__icon-box
        a.c-profile__icon(href="https://www.instagram.com/cj1108_/" target="_blank") 
          i.fa-brands.fa-instagram
        a.c-profile__icon(href="##") 
          i.fa-solid.fa-envelope
        a.c-profile__icon(href="https://codepen.io/CJIE_L" target="_blank") 
          i.fa-brands.fa-codepen
        a.c-profile__icon(href="https://github.com/Liao-chen-jia" target="_blank") 
          i.fa-brands.fa-github
        a.c-profile__icon(href="##") 
          i.fa-brands.fa-discord